doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
        link(rel="stylesheet" type="text/css" href="css/inline.css")
        <!--[if (gte mso 9)|(IE)]>
        style(type="text/css").
            table{border-collapse: collapse;}
        <![endif]-->
    body
        center.wrapper
            div.webkit
                <!--[if (gte mso 9)|(IE)]>
                <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                <td>
                <![endif]-->
                table.outer(align="center")
                    tr
                        td.full-width-image
                            img(src="http://placehold.it/1200x400" alt="" width="600" height="200")
                    tr
                        td.one-column
                            table(width="100%")
                                tr
                                    td.inner.contents
                                        p.h1 Lorem ipsum dolor sit amet
                                        p Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
                    tr
                        td.two-column
                            <!--[if (gte mso 9)|(IE)]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                            <td width="50%" valign="top">
                            <![endif]-->
                            div.column
                                table(width="100%")
                                    tr
                                        td.inner
                                            table.contents
                                                tr
                                                    td
                                                        img(src="http://placehold.it/560x300" alt="" width="280" height="150")
                                                tr
                                                    td.text Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            <!--[if (gte mso 9)|(IE)]>
                            </td><td width="50%" valign="top">
                            <![endif]-->
                            div.column
                                table(width="100%")
                                    tr
                                        td.inner
                                            table.contents
                                                tr
                                                    td
                                                        img(src="http://placehold.it/560x300" alt="" width="280" height="150")
                                                tr
                                                    td.text Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->

                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->