$base-color: #333333;
$lite-color: #ffffff;
$accent-color-1: burlywood;
$accent-color-2: darkseagreen;
$accent-color-3: skyblue;
$action-color: orangered;
$change-color: 12%;
$ff: Helvetica, Arial, Verdana, sans-serif;
$fz: 14px;
$lh: 1.4;
$width: 590px;