@import "../settings/_mixins.scss";

/*Basic*/
body {
  @include margin(0,0,0,0);
  @include padding(0,0,0,0);
  min-width: 100%;
  background-color: $lite-color;
}

table {
  @include font-normal();
  border-spacing: 0;
  cellpadding: 0;
  cellspacing: 0;
  border: 0;
}

td{
  @include padding(0,0,0,0);
}

img {
  border: 0;
}

.wrapper {
  @include text-size-adjust(100%);
  width: 100%;
  table-layout: fixed;
}

.webkit {
  max-width: 600px;
}

/* Windows Phone Viewport Fix */
@-ms-viewport {
  width: device-width;
}

.outer {
  @include margin(0,auto,0,auto);
  width: 100%;
  max-width: 600px;
}

.full-width-image img {
  width: 100%;
  height: auto;
}

.inner {
  @include padding(10px,10px,10px,10px);
}

p {
  @include margin(0,0,0,0);
}

a {
  color: $link-color;
  text-decoration: underline;
}

.h1 {
  @include margin(0,0,18px,0);
  font-size: 21px;
  font-weight: bold;
}

.h2 {
  @include margin(0,0,12px,0);
  font-size: 18px;
  font-weight: bold;
}

/* One column layout */
.one-column .contents {
  text-align: left;
}

.one-column p {
  font-size: 14px;
  @include margin(0,0,10px,0);
}

/* Two column layout */
.two-column {
  text-align: center;
  font-size: 0;
}
.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}

.contents {
  width: 100%;
}

.two-column .contents {
  font-size: 14px;
  text-align: left;
}

.two-column img {
  width: 100%;
  height: auto;
}

.two-column .text {
  @include padding(10px,0,0,0);
}